@import 'tailwindcss';

:root {
  --bg-main: #14121C;
  --bg-card: #1F1B2E;
  --text-main: #ffffff;
  --text-muted: #A3A3A3;
  --accent-orange: #F59E0B;
  --highlight-purple: #8B5CF6;
  --border-gray: #3B3B3B;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}
